body {

}
.mainContainerLogo {
  height: 3.9em;
  width: 2.3em;
  margin-left: 5em;
  background-size: contain !important;
  background: embedurl('./images/logo.png') no-repeat center/100% !important;
}
.page-container .sidebar-menu .logo-env {
  padding: 1em;
}
.main-content .header .logoutContainer {
  padding: 0;
}
.main-content > footer {
  height: 2em;
}

.aButton {
  margin-top: 0.2em;
  float: right;
}
.sepRight {
  width: 2em;
  height: 1px;
  float: right;
}

.AdminTicketList {
  .dgrid-scroller {
    margin-top: 2em !important;
  }
  .dgrid-column-title {
    width: 34%;
  }
  .dgrid-column-outline {
    width: 58%;
  }
  .dgrid-column-action {
    width: 8%;
  }
}
.DocumentListModal {
  .dgrid-scroller {
    margin-top: 2em !important;
  }
  .dgrid-column-name {
    width: 80%;
  }
  .dgrid-column-action {
    width: 8%;
  }
}
.TicketView {
  text-align: center;
}

.postit {
  h4 {
    margin-top: -3em;
    border-bottom-style: double;
    font-size: 25px;
    border-color: #676745;
    padding-BOttom: 8px;
  }
  p {
    font-size: 1em;
  }
  text-align:center;
  width: 400px;
  margin: 25px;
  min-height:250px;
  max-height:250px;
  padding-top:35px;
  position:relative;
  border:1px solid #E8E8E8;
  border-top:60px solid #fdfd86;
  font-size:22px;
  border-bottom-right-radius: 60px 5px;
  display:inline-block;
  background: #ffff88; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
  background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.postit:after {
  content: "";
  position:absolute;
  z-index:-1;
  right:-0px; bottom:20px;
  width:200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}
  //lines
  .lines{
    border-right:gray solid 1px;
    height: 76vh;
  }
    h4.column {
      background: #9C9C9C;
      padding: 25px;
      border-radius: 13px;
      color: white;
      text-align: center;
      font-size 35px;

    }