.ticketsLoginScreen {
	width: 100%;
	.login-content {
		h1 {
			color: white;
		}
	}
	.checkIcon {
		&.valid {
			color: green;
		}
		&.invalid {
			color: red;
		}
	}
	.signInLabel {
		padding-right: 5px;
	}
	.media-object {
		height: 64px;
		width: 64px;
	}
	.input-group {
		display: table;
		width: 100%;
	}
	.input-group-addon, .form-control {
		display: table-cell;
	}
	.description {
		color: white;
	}
}